.div1 {
  background-color: rgb(252, 248, 248);
  width: 100%;
  height: 100%;
}

.fon-main {
  position: absolute;
  width: 100%;
  height: 7650px;
}

.header-block {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.header-block_back {
  position: absolute;
  height: 849px;
  width: 100%;
}

.header-block_main-case {
  position: relative;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header-block_main {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header-logo {
  width: 150px;
  height: 150px;
}

.logo1 {
  width: 150px;
  height: 150px;
}

.header-block_main-hrefs {
  min-width: 380px;
  min-height: 25px;
  display: flex;
  justify-content: space-around;
}

.header-block_main-href1 {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.header-block_main-href2 {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.header-block_main-href3 {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.header-block_main-href4 {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.header-block_main-number_case {
  max-width: 178px;
  max-height: 26px;
}
.header-block_main-number {
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.header-block_main-minibutton-case {
  min-width: 214px;
  min-height: 55px;
}
.header-block_main-minibutton {
  min-width: 214px;
  min-height: 55px;
  background-color: rgb(45, 199, 199);
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
}
.header-block_main-minibutton:hover {
  background: white;
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
}

.header-block_textarea-main_case1 {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header-block_textarea-main_case {
  max-width: 45%;
  display: flex;
  flex-direction: column;
}

.header-block_textarea1-case {
  max-width: 100%;
  font-weight: bold;
}

.header-block_textarea1-text {
  font-size: 50px;
  color: white;
}

.header-block_textarea2-case {
  max-width: 70%;
}

.header-block_textarea2-text {
  color: white;
  font-size: 14px;
}

.header-block_button-case {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  background-color: rgb(255, 196, 0);
  max-width: 250px;
  height: 66px;
  align-items: center;
}

.header-block_button-case:hover {
  background: white;
  color: rgb(255, 196, 0);
  box-shadow: inset 0 0 0 3px rgb(255, 196, 0);
}

.header-block_button-text {
  color: black;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}

.img2 {
  max-width: 33px;
  max-height: 33px;
}

.header-block_bloks-case {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-block_bloks-1 {
  width: 550px;
  height: 285px;
}
.header-block_bloks-1_img {
  width: 550px;
  height: 285px;
}
.header-block_bloks-2 {
  width: 220px;
  height: 285px;
  background-color: rgb(255, 196, 0);
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.header-block_bloks-2-group {
  height: 285px;
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-block_bloks-2-groupmin {
  margin-top: 15px;
  width: 160px;
  height: 130px;
  display: flex;
  flex-direction: column;
}

.header-block_bloks-2-groupprice {
  max-width: 70px;
  height: 27px;
}

.header-block_bloks-2-price {
  max-width: 70px;
  height: 27px;
}

.header-block_bloks-2-text1-case {
  margin-top: 20px;
  width: 80%;
  height: 60px;
}

.header-block_bloks-2-text1 {
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.header-block_bloks-2-foto-case {
  max-width: 100px;
  height: 100px;
}

.header-block_bloks-2-foto {
  max-width: 100px;
  height: 100px;
}

.header-block_bloks-3 {
  width: 220px;
  height: 285px;
  background-color: gray;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.header-block_bloks-3-group {
  height: 285px;
  width: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-block_bloks-3-groupmin {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.header-block_bloks-3-groupprice {
  max-width: 70px;
  height: 27px;
}
.header-block_bloks-3-price {
  max-width: 70px;
  height: 27px;
}
.header-block_bloks-3-text1-case {
  width: 100%;
  height: 90px;
}
.header-block_bloks-3-text1 {
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.header-block_bloks-3-foto-case {
  max-width: 100px;
  height: 100px;
}
.header-block_bloks-3-foto {
  max-width: 100px;
  height: 100px;
}
.header-block_bloks-4 {
  width: 220px;
  height: 285px;
  background-color: rgb(45, 199, 199);
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.header-block_bloks-4-group {
  height: 285px;
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-block_bloks-4-groupmin {
  margin-top: 10px;
  width: 160px;
  height: 130px;
  display: flex;
  flex-direction: column;
}
.header-block_bloks-4-groupprice {
  max-width: 70px;
  height: 27px;
}
.header-block_bloks-4-price {
  max-width: 70px;
  height: 27px;
}
.header-block_bloks-4-text1-case {
  margin-top: 20px;
  width: 80%;
  height: 60px;
}
.header-block_bloks-4-text1 {
  color: black;
  font-weight: bold;
  font-size: 20px;
}
.header-block_bloks-4-foto-case {
  margin-top: -20px;
  max-width: 80px;
  height: 80px;
}
.header-block_bloks-4-foto {
  margin-top: -20px;
  max-width: 100px;
  height: 100px;
}

.header-block_bloks-case2 {
  margin-top: 65px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.header-block_bloks-case2-textarea {
  width: 50%;
  text-align: center;
}
.header-block_bloks-case2-text {
  font-size: 40px;
  font-weight: bold;
}
.header-block_bloks-case2-textarea2 {
  width: 28.5%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.header-block_bloks-case2-textarea2-foto {
  background-color: rgb(255, 196, 0);
  width: 140px;
  height: 40px;
  border-radius: 5px;
}

.header-block_bloks-case2-textarea2-text {
  font-size: 23px;
  font-weight: bold;
  text-align: center;
}

.header-block_bloks-case2-textarea2-1 {
  width: 60%;
}

.header-block_bloks-case2-text2 {
  margin-top: 5px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.section-1 {
  margin-top: 50px;
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 2fr 1fr 1fr;
}
.section-1-foto {
  width: 98%;
  height: 600px;
}
.section-1-casetext_main {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 100%;
}
.mini-text-section1 {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.text-andfoto1 {
  display: flex;
  width: 100%;
}
.text-andfoto1-foto {
  height: 25px;
  width: 5px;
}
.text-andfoto1-text1 {
  margin-left: 20px;
  font-weight: bold;
}
.text-andfoto2 {
  margin-top: 15px;
  display: flex;
  width: 100%;
}
.text-andfoto2-foto {
  height: 25px;
  width: 5px;
}
.text-andfoto1-text2 {
  margin-left: 20px;
  font-weight: bold;
}
.text-andfoto3 {
  margin-top: 15px;
  display: flex;
  width: 100%;
}
.text-andfoto3-foto {
  height: 25px;
  width: 5px;
}
.text-andfoto1-text3 {
  margin-left: 20px;
  font-weight: bold;
}
.text-andfoto4 {
  margin-top: 15px;
  display: flex;
  width: 100%;
}
.text-andfoto4-foto {
  height: 25px;
  width: 5px;
}
.text-andfoto1-text4 {
  margin-left: 20px;
  font-weight: bold;
}
.mini-text-section2 {
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 14fr 18fr;
}

.mini-text-section2-2 {
  margin-top: 20px;
  width: 100%;
}

.mini-text-section2_label {
  margin-left: 15px;
  font-weight: bold;
  font-size: 15px;
}
.mini-text-section2_input {
  margin-top: 10px;
  width: 100%;
  background-color: white;
  height: 40px;
}

.mini-text-section2_input1 {
  border: none;
  width: 92%;
  margin-left: 10px;
  margin-top: 5px;
}

.mini-text-section2-button1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.mini-text-section2-button {
  margin-top: 25px;
  background-color: rgb(255, 196, 0);
  border: none;
  border-radius: 5px;
  width: 180px;
  height: 50px;
  font-weight: bold;
  font-size: 15px;
}

.mini-text-section2-button:hover {
  background: white;
  color: black;
  box-shadow: inset 0 0 0 3px rgb(255, 196, 0);
}

.section-2 {
  position: relative;
  width: 100%;
  height: 1103px;
}

.section-2_fon {
  width: 100%;
  height: 1103px;
}

.section-2-mini {
  margin-top: -1070px;
}

.section-2-mini1 {
  display: grid;
  grid-template-columns: 3fr 7fr 3fr;
}

.section-2-mini2 {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}

.section-2-mini-text {
  font-size: 70px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}
.section-2-mini-group {
  margin-top: 50px;
  width: 100%;
}

.section-3 {
  width: 100%;
  height: 370px;
  position: relative;
  background-color: rgb(255, 196, 0);
  display: grid;
  grid-template-columns: 3fr 2fr 3fr;
}
.section-3-case {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.section-3-case_text {
  margin-top: 60px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.section-3-case_buttons {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 30fr 1fr;
}

.section-3-case_label1 {
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.section-3-case_label {
  margin-left: 15px;
  font-weight: bold;
  font-size: 15px;
}
.section-3-case_input {
  margin-top: 10px;
  width: 300px;
  background-color: white;
  height: 40px;
}
.section-3-case_input1 {
  border: none;
  width: 277px;
  margin-left: 10px;
  margin-top: 5px;
}
.section-3-case-button {
  margin-top: 25px;
  height: 55px;
  background-color: black;
  border: none;
  border-radius: 5px;
  width: 220px;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.section-3-case-button:hover {
  background: white;
  color: black;
  box-shadow: inset 0 0 0 3px black;
}

.section-4 {
  margin-top: 50px;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 3fr 4fr 3fr;
}
.section-4-case {
  width: 100%;
}
.section-4-case-text {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
.section-4-case-group {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}
.section-4-case-groupfoto {
  height: 400px;
  width: 400px;
}
.section-4-case-groupfoto1 {
  margin-top: 30px;
  height: 360px;
  width: 380px;
}

.section-5 {
  margin-top: 60px;
  width: 100%;
  position: relative;
}

.section-6 {
  margin-top: 40px;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 5fr 5fr 5fr;
}
.section-6-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-6-group-text {
  width: 70%;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.section-6-group-gruppick {
  margin-top: 30px;
  width: 100%;
}
.section-6-group-grupbutton {
  margin-top: 55px;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  background-color: rgb(255, 196, 0);
  min-width: 250px;
  height: 66px;
  align-items: center;
}

.section-6-group-grupbutton:hover {
  background: white;
  color: rgb(255, 196, 0);
  box-shadow: inset 0 0 0 3px rgb(255, 196, 0);
}

.section-6-group-grupbutton-text {
  color: black;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}

.section-7 {
  margin-top: 80px;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 5fr 8fr 5fr;
}
.section-7-case {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(255, 255, 255, 0.3);
}
.section-7-case-text {
  color: black;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}
.section-7-case-case {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.section-7-case-case1 {
  margin-top: 40px;
  width: 520px;
  height: 320px;
}
.section-7-case-case1-foto {
  width: 520px;
  height: 255px;
}
.section-7-case-case1-text1 {
  color: black;
  font-weight: bold;
  font-size: 18px;
}
.section-7-case-case1-text2 {
  margin-top: -20px;
  color: black;
  font-size: 15px;
}

.section-8 {
  margin-top: 60px;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 5fr 8fr 5fr;
}
.section-8-group {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-8-group-text {
  color: black;
  font-weight: bold;
  font-size: 50px;
}

.section-8-group11 {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.section-8-group-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section-8-group-group-foto1 {
  margin-top: 10px;
  width: 202px;
  height: 175px;
}
.section-8-group-group-foto2 {
  margin-top: 10px;
  width: 202px;
  height: 175px;
}
.section-8-group-group-foto3 {
  margin-top: 10px;
  width: 202px;
  height: 175px;
}
.section-8-group-group-foto4 {
  margin-top: 10px;
  width: 202px;
  height: 175px;
}
.section-8-group-group-foto5 {
  margin-top: 10px;
  width: 202px;
  height: 175px;
}
.section-8-group-group-foto6 {
  margin-top: 10px;
  width: 202px;
  height: 175px;
}

.section-8-group-group-foto7 {
  margin-top: 10px;
  width: 202px;
  height: 175px;
}

.section-8-group-group-foto8 {
  margin-top: 10px;
  width: 202px;
  height: 175px;
}
.section-8-group-group-foto9 {
  margin-top: 10px;
  width: 202px;
  height: 175px;
}

.section-8-group-group-foto10 {
  margin-top: 10px;
  width: 202px;
  height: 175px;
}
.section-8-group-group-minibuttons {
  width: 80px;
  height: 55px;
}

.footer-case {
  margin-top: -362px;
  display: grid;
  grid-template-columns: 5fr 9fr 5fr;
  width: 100%;
}

.footer-case-fon {
  width: 100%;
  height: 600px;
}

.footer-case11 {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-case-pt1 {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer-case-pt1foto {
  height: 150px;
  width: 150px;
}
.footer-case-pt1-prt1 {
  margin-top: 90px;
  width: 74%;
  display: flex;
  justify-content: space-around;
}
.footer-case-pt1-prt1-text {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.footer-case-pt1-prt1-text1 {
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}
.footer-case-pt1-prt1-number {
  display: flex;
  justify-content: space-around;
  width: 22%;
}
.footer-case-pt1-prt1-number1 {
  margin-top: 15px;
  color: rgb(255, 196, 0);
  font-weight: bold;
  font-size: 18px;
}

.footer-case-pt1-prt1-numberf {
  margin-top: 10px;
  width: 16px;
  height: 16px;
}

.footer-case-pt2 {
  margin-top: -80px;
  width: 94.8%;
  display: flex;
  justify-content: flex-end;
}

.footer-case-pt22 {
  display: flex;
  justify-content: space-between;
  width: 43%;
  align-items: center;
}

.footer-case-pt2-foto1 {
  width: 112px;
  height: 29px;
}
.footer-case-pt2-foto2 {
  height: 22px;
  width: 22px;
}
.footer-case-pt2-button {
  border-color: rgb(255, 196, 0);
  border-radius: 5px;
  width: 293px;
  height: 130%;
  color: rgb(255, 196, 0);
  font-weight: bold;
  font-size: 16px;
  background-color: black;
}

.footer-case-pt2-button:hover {
  background: white;
  color: black;
  box-shadow: inset 0 0 0 3px rgb(255, 196, 0);
}

.footer-case-pt3 {
  text-align: center;
}

.footer-case-pt3-text {
  color: white;
}

@media screen and (max-width: 430px) {
  .div1 {
    background-color: rgb(252, 248, 248);
    max-width: 430px;
    height: 100%;
  }

  .fon-main {
    position: absolute;
    max-width: 430px;
    height: 730px;
  }

  .header-block {
    max-width: 430px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }

  .header-block_back {
    position: absolute;
    max-width: 430px;
    height: 730px;
  }

  .header-block_main-case {
    position: relative;
    max-width: 430px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .header-block_main {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .header-logo {
    width: 110px;
    height: 110px;
  }

  .logo1 {
    width: 110px;
    height: 110px;
  }

  .header-block_main-hrefs {
    display: none;
  }

  .header-block_main-number_case {
    display: none;
  }

  .header-block_main-minibutton-case {
    display: none;
  }

  .header-block_textarea-main_case1 {
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }

  .header-block_textarea-main_case {
    max-width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .header-block_textarea1-case {
    max-width: 100%;
    font-weight: bold;
  }

  .header-block_textarea1-text {
    font-size: 33px;
    color: white;
  }

  .header-block_textarea2-case {
    max-width: 100%;
  }

  .header-block_textarea2-text {
    color: white;
    font-size: 12px;
  }

  .header-block_button-case {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    background-color: rgb(255, 196, 0);
    max-width: 250px;
    height: 66px;
    align-items: center;
  }

  .header-block_button-case:hover {
    background: white;
    color: rgb(255, 196, 0);
    box-shadow: inset 0 0 0 3px rgb(255, 196, 0);
  }

  .header-block_button-text {
    color: black;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
  }

  .img2 {
    max-width: 33px;
    max-height: 33px;
  }

  .header-block_bloks-case {
    margin-top: 50px;
    max-width: 430px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .header-block_bloks-1 {
    width: 100%;
    height: 160px;
  }
  .header-block_bloks-1_img {
    width: 100%;
    height: 160px;
  }
  .header-block_bloks-2 {
    margin-top: 20px;
    width: 100%;
    height: 160px;
    background-color: rgb(255, 196, 0);
    border-radius: 10px;
    display: flex;
    justify-content: center;
  }
  .header-block_bloks-2-group {
    height: 160px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  .header-block_bloks-2-groupmin {
    margin-top: 30px;
    width: 120px;
    height: 130px;
    display: flex;
    flex-direction: column;
  }

  .header-block_bloks-2-groupprice {
    max-width: 70px;
    height: 27px;
  }

  .header-block_bloks-2-price {
    max-width: 70px;
    height: 27px;
  }

  .header-block_bloks-2-text1-case {
    margin-top: 20px;
    width: 80%;
    height: 60px;
  }

  .header-block_bloks-2-text1 {
    color: black;
    font-weight: bold;
    font-size: 20px;
  }

  .header-block_bloks-2-foto-case {
    margin-top: 80px;
    max-width: 100px;
    height: 100px;
  }

  .header-block_bloks-2-foto {
    max-width: 100px;
    height: 100px;
  }

  .header-block_bloks-3 {
    margin-top: 20px;
    width: 100%;
    height: 160px;
    background-color: gray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
  }
  .header-block_bloks-3-group {
    height: 160px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  .header-block_bloks-3-groupmin {
    margin-top: 30px;
    width: 120px;
    height: 130px;
    display: flex;
    flex-direction: column;
  }
  .header-block_bloks-3-groupprice {
    max-width: 70px;
    height: 27px;
  }
  .header-block_bloks-3-price {
    max-width: 70px;
    height: 27px;
  }
  .header-block_bloks-3-text1-case {
    width: 120%;
    height: 70px;
  }
  .header-block_bloks-3-text1 {
    color: white;
    font-weight: bold;
    font-size: 15px;
  }
  .header-block_bloks-3-foto-case {
    margin-top: 60px;
    max-width: 100px;
    height: 100px;
  }
  .header-block_bloks-3-foto {
    max-width: 100px;
    height: 100px;
  }
  .header-block_bloks-4 {
    margin-top: 20px;
    width: 100%;
    height: 160px;
    background-color: rgb(45, 199, 199);
    border-radius: 10px;
    display: flex;
    justify-content: center;
  }
  .header-block_bloks-4-group {
    height: 160px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  .header-block_bloks-4-groupmin {
    margin-top: 30px;
    width: 160px;
    height: 130px;
    display: flex;
    flex-direction: column;
  }
  .header-block_bloks-4-groupprice {
    max-width: 70px;
    height: 27px;
  }
  .header-block_bloks-4-price {
    max-width: 70px;
    height: 27px;
  }
  .header-block_bloks-4-text1-case {
    margin-top: 20px;
    width: 92%;
    height: 60px;
  }
  .header-block_bloks-4-text1 {
    color: black;
    font-weight: bold;
    font-size: 17px;
  }
  .header-block_bloks-4-foto-case {
    margin-left: -15px;
    max-width: 80px;
    height: 80px;
  }
  .header-block_bloks-4-foto {
    margin-left: -15px;
    margin-top: 80px;
    max-width: 100px;
    height: 100px;
  }

  .header-block_bloks-case2 {
    margin-top: 65px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .header-block_bloks-case2-textarea {
    width: 100%;
    text-align: center;
  }
  .header-block_bloks-case2-text {
    font-size: 24px;
    font-weight: bold;
  }
  .header-block_bloks-case2-textarea2 {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
  }
  .header-block_bloks-case2-textarea2-foto {
    background-color: rgb(255, 196, 0);
    width: 100px;
    height: 40px;
    border-radius: 5px;
  }

  .header-block_bloks-case2-textarea2-text {
    font-size: 23px;
    font-weight: bold;
    text-align: center;
  }

  .header-block_bloks-case2-textarea2-1 {
    width: 70%;
  }

  .header-block_bloks-case2-text2 {
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }

  .section-1 {
    margin-top: 50px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .section-1-foto {
    width: 100%;
    height: 600px;
  }
  .section-1-casetext_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
  }
  .mini-text-section1 {
    width: 80%;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .text-andfoto1 {
    display: flex;
    width: 100%;
  }
  .text-andfoto1-foto {
    height: 25px;
    width: 5px;
  }
  .text-andfoto1-text1 {
    margin-left: 20px;
    font-weight: bold;
  }
  .text-andfoto2 {
    margin-top: 15px;
    display: flex;
    width: 100%;
  }
  .text-andfoto2-foto {
    height: 25px;
    width: 5px;
  }
  .text-andfoto1-text2 {
    margin-left: 20px;
    font-weight: bold;
  }
  .text-andfoto3 {
    margin-top: 15px;
    display: flex;
    width: 100%;
  }
  .text-andfoto3-foto {
    height: 25px;
    width: 5px;
  }
  .text-andfoto1-text3 {
    margin-left: 20px;
    font-weight: bold;
  }
  .text-andfoto4 {
    margin-top: 15px;
    display: flex;
    width: 100%;
  }
  .text-andfoto4-foto {
    height: 25px;
    width: 5px;
  }
  .text-andfoto1-text4 {
    margin-left: 20px;
    font-weight: bold;
  }
  .mini-text-section2 {
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 14fr 3fr;
  }

  .mini-text-section2-2 {
    margin-top: 20px;
    width: 100%;
  }

  .mini-text-section2_label {
    margin-left: 15px;
    font-weight: bold;
    font-size: 15px;
  }
  .mini-text-section2_input {
    margin-top: 10px;
    width: 100%;
    background-color: white;
    height: 40px;
  }

  .mini-text-section2_input1 {
    border: none;
    width: 92%;
    margin-left: 10px;
    margin-top: 5px;
  }

  .mini-text-section2-button1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .mini-text-section2-button {
    margin-top: 25px;
    background-color: rgb(255, 196, 0);
    border: none;
    border-radius: 5px;
    width: 180px;
    height: 50px;
    font-weight: bold;
    font-size: 15px;
  }

  .mini-text-section2-button:hover {
    background: white;
    color: black;
    box-shadow: inset 0 0 0 3px rgb(255, 196, 0);
  }

  .section-2 {
    display: none;
  }

  .section-2_fon {
    display: none;
  }

  .section-2-mini {
    display: none;
  }

  .section-2-mini1 {
    display: none;
  }

  .section-2-mini2 {
    display: none;
  }

  .section-2-mini-text {
    display: none;
  }
  .section-2-mini-group {
    display: none;
  }

  .section-3 {
    margin-top: 30px;
    width: 100%;
    height: 420px;
    position: relative;
    background-color: rgb(255, 196, 0);
    display: grid;
    grid-template-columns: 3fr 2fr 3fr;
  }
  .section-3-case {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .section-3-case_text {
    max-width: 100%;
    margin-top: 60px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }

  .section-3-case_buttons {
    margin-top: 40px;
    width: 100%;
  }

  .section-3-case_label1 {
    height: 140px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .section-3-case_label {
    margin-left: 40px;
    font-weight: bold;
    font-size: 15px;
  }
  .section-3-case_input {
    margin-top: 10px;
    width: 300px;
    background-color: white;
    height: 40px;
  }
  .section-3-case_input1 {
    border: none;
    width: 277px;
    margin-left: 10px;
    margin-top: 5px;
  }
  .section-3-case-button {
    margin-left: 40px;
    margin-top: 25px;
    height: 100px;
    background-color: black;
    border: none;
    border-radius: 5px;
    width: 220px;
    color: white;
    font-weight: bold;
    font-size: 15px;
  }

  .section-3-case-button:hover {
    background: white;
    color: black;
    box-shadow: inset 0 0 0 3px black;
  }

  .section-4 {
    margin-top: 50px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .section-4-case {
    width: 100%;
  }
  .section-4-case-text {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  }
  .section-4-case-group {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .section-4-case-groupfoto {
    height: 400px;
    width: 400px;
  }
  .section-4-case-groupfoto1 {
    margin-top: 30px;
    height: 360px;
    width: 380px;
  }

  .section-5 {
    display: none;
  }

  .section-6 {
    margin-top: 40px;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 5fr 5fr 5fr;
  }
  .section-6-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-6-group-text {
    width: 100%;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }
  .section-6-group-gruppick {
    margin-top: 30px;
    width: 100%;
  }
  .section-6-group-grupbutton {
    margin-top: 55px;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    background-color: rgb(255, 196, 0);
    min-width: 250px;
    height: 66px;
    align-items: center;
  }

  .section-6-group-grupbutton:hover {
    background: white;
    color: rgb(255, 196, 0);
    box-shadow: inset 0 0 0 3px rgb(255, 196, 0);
  }

  .section-6-group-grupbutton-text {
    color: black;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
  }

  .section-7 {
    margin-top: 80px;
    width: 100%;
    position: relative;
  }
  .section-7-case {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(255, 255, 255, 0.3);
  }
  .section-7-case-text {
    width: 100%;
    color: black;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
  }
  .section-7-case-case {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .section-7-case-case1 {
    margin-top: 40px;
    width: 100%;
    height: 320px;
  }
  .section-7-case-case1-foto {
    width: 100%;
    height: 255px;
  }
  .section-7-case-case1-text1 {
    color: black;
    font-weight: bold;
    font-size: 18px;
  }
  .section-7-case-case1-text2 {
    margin-top: -20px;
    color: black;
    font-size: 15px;
  }

  .section-8 {
    margin-top: 60px;
    width: 100%;
    position: relative;
  }
  .section-8-group {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 370px;
  }
  .section-8-group-text {
    color: black;
    font-weight: bold;
    font-size: 50px;
  }

  .section-8-group11 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .section-8-group-group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }
  .section-8-group-group-foto1 {
    margin-top: 10px;
    width: 180px;
    height: 175px;
  }
  .section-8-group-group-foto2 {
    margin-top: 10px;
    width: 180px;
    height: 175px;
  }
  .section-8-group-group-foto3 {
    margin-top: 10px;
    width: 180px;
    height: 175px;
  }
  .section-8-group-group-foto4 {
    margin-top: 10px;
    width: 180px;
    height: 175px;
  }
  .section-8-group-group-foto5 {
    margin-top: 10px;
    width: 180px;
    height: 175px;
  }
  .section-8-group-group-foto6 {
    margin-top: 10px;
    width: 180px;
    height: 175px;
  }

  .section-8-group-group-foto7 {
    display: none;
  }

  .section-8-group-group-foto8 {
    display: none;
  }
  .section-8-group-group-foto9 {
    display: none;
  }

  .section-8-group-group-foto10 {
    display: none;
  }
  .section-8-group-group-minibuttons {
    width: 130px;
    height: 85px;
  }

  .footer-case {
    margin-top: -600px;
    width: 100%;
  }

  .footer-case-fon {
    margin-top: -300px;
    width: 100%;
    height: 1000px;
  }

  .footer-case11 {
    width: 91%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer-case-pt1 {
    margin-top: 30px;
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-case-pt1foto {
    margin-left: 65px;
    height: 150px;
    width: 150px;
  }
  .footer-case-pt1-prt1 {
    margin-top: 20px;
    margin-left: 65px;
    width: 74%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
  .footer-case-pt1-prt1-text {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    height: 180px;
  }
  .footer-case-pt1-prt1-text1 {
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
  }
  .footer-case-pt1-prt1-number {
    display: flex;
    justify-content: space-around;
    width: 60%;
  }
  .footer-case-pt1-prt1-number1 {
    margin-top: 15px;
    color: rgb(255, 196, 0);
    font-weight: bold;
    font-size: 18px;
  }

  .footer-case-pt1-prt1-numberf {
    margin-top: 10px;
    width: 16px;
    height: 16px;
  }

  .footer-case-pt2 {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .footer-case-pt22 {
    display: flex;
    justify-content: space-between;
    width: 43%;
  }

  .footer-case-pt2-foto1 {
    width: 112px;
    height: 29px;
  }
  .footer-case-pt2-foto2 {
    height: 22px;
    width: 22px;
  }
  .footer-case-pt2-button {
    border-color: rgb(255, 196, 0);
    border-radius: 5px;
    width: 293px;
    height: 100%;
    color: rgb(255, 196, 0);
    font-weight: bold;
    font-size: 16px;
    background-color: black;
  }

  .footer-case-pt2-button:hover {
    background: white;
    color: black;
    box-shadow: inset 0 0 0 3px rgb(255, 196, 0);
  }

  .footer-case-pt3 {
    margin-top: 10px;
    text-align: center;
  }

  .footer-case-pt3-text {
    color: white;
  }
}
